body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/
 
$body-bg: #bae4c7;
$body-color: #f1eaea;
$font-family-sans-serif: "Poppins", sans-serif;
$primary: #000000;


@import "../node_modules/bootstrap/scss/bootstrap.scss";